<section class="view-wrapper">
  <h2>@@title</h2>
  <main class="app">
    <header class="app__header">
      <nav>
        <button class="btn right"><span>Menu</span></button>
        <h2 class="app__title">Johan Design AB</h2>
        <button class="btn left"><span>Add</span></button>
      </nav>
    </header>
    <section class="app__content">
      <div>
        <span class="app__date">2015-11-02</span>
        <h3 class="app__subtitle">Com Hem</h3>
      </div>
      <ul class="app__list">
        <li class="app__list-item">
          Breadband<i>►</i>
        </li>
        <li class="app__list-item active">
          Belopp <i>▼</i>
          <p>
            some content when on active
          </p>
        </li>
        <li class="app__list-item">
          Moms <i>►</i>
        </li>
        <li class="app__list-item">
          Koppla ihop bild <i>►</i>
        </li>
      </ul>
    </section>
  </main>
</section>
