<section class="component-wrapper">
  <h2>@@title</h2>
  <div class="component"></div>
</section>

<script id="component-root" type="text/x-handlebars-template">
  <div class="component-content">
    {{#each this}}
    <div class="component__item">
      {{#ifvalue this.type value="ROT"}}BUYA{{/ifvalue}}
      <h3 class="component__item-title">{{this.type}}</h3>
      <ul class="component__item-list-titles">
        <li>
          <span>Betaldatum</span>
        </li>
        <li>
          <span>Förfallodatum</span>
        </li>
        <li>
          <span>Arbetskostnad</span>
        </li>
        <li>
          <span>Skattavdrag</span>
        </li>
        <li>
          <span>Totalkostnad</span>
        </li>
      </ul>
      {{#each this}}
        <ul class="component__item-list-row">
          <li>
            <span>{{paymentDate}}</span>
          </li>
          <li>
            <span>{{expirationDate}}</span>
          </li>
          <li>
            <span>{{workCost}}</span>
          </li>
          <li>
            <span>{{taxDeduction}}</span>
          </li>
          <li>
            <span>{{subtract workCost minus=taxDeduction}}</span>
          </li>

        </ul>
      {{/each}}
    </div>
    {{/each}}
  </div>
</script>
